<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tklaundry.api.common.mapper.AutoNumberMapper">

    <select id="nextAutoNumberSeq" resultType="int">
        IF EXISTS (
            SELECT 1
            FROM AutoNumber
            WHERE DocName = #{docName}
              AND DocDate = #{docDate}
        )
            UPDATE AutoNumber
            SET Seq = Seq + 1
            OUTPUT INSERTED.Seq
            WHERE DocName = #{docName}
              AND DocDate = #{docDate}
        ELSE
            INSERT INTO AutoNumber (DocName, DocDate, Seq)
            OUTPUT INSERTED.Seq
            VALUES (#{docName}, #{docDate}, 1)
    </select>

</mapper>
