<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tklaundry.api.common.mapper.ComBaseDataMapper">

    <select id="selectComBaseDataList" resultType="com.tklaundry.api.common.model.ComBaseData">
        SELECT
            CodeID   AS codeId,
            PCodeID  AS pCodeId,
            CodeName AS codeName
        FROM ComBaseData
        ORDER BY PCodeID, CodeID
    </select>

    <select id="selectComBaseDataByCodeId" resultType="com.tklaundry.api.common.model.ComBaseData">
        SELECT
            CodeID   AS codeId,
            PCodeID  AS pCodeId,
            CodeName AS codeName
        FROM ComBaseData
        WHERE CodeID = #{codeId}
    </select>

    <select id="selectLastCodeId" resultType="string">
        SELECT TOP 1 CodeID
        FROM ComBaseData
        ORDER BY CodeID DESC
    </select>

    <select id="selectLastCodeIdByHeader" resultType="string">
        SELECT TOP 1 CodeID
        FROM ComBaseData
        WHERE CodeID LIKE #{header} + '%'
        ORDER BY CodeID DESC
    </select>

    <insert id="insertComBaseData">
        INSERT INTO ComBaseData (
            CodeID,
            PCodeID,
            CodeName,
            InsertUserID,
            InsertDate
        ) VALUES (
            #{codeId},
            #{pCodeId},
            #{codeName},
            #{insertUserId},
            GETDATE()
        )
    </insert>

</mapper>
