<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tklaundry.api.common.mapper.ComMemberMapper">

    <select id="getTblComMember" resultType="com.tklaundry.api.common.model.ComMember">
        SELECT
            UserID   AS userId,
            UserName AS userName
        FROM ComMember
        WHERE UserID = #{userId}
        AND UserPW = #{password}
        AND UseYn  = 'Y'
    </select>

    <update id="updateComMemberLoginDate">
        UPDATE ComMember
        SET LogInDate = GETDATE()
        WHERE UserID = #{userId}
    </update>

    <select id="selectComMemberList" resultType="com.tklaundry.api.common.model.ComMember">
        SELECT
            UserID   AS userId,
            UserName AS userName,
            UseYn    AS useYn
        FROM ComMember
        ORDER BY UserID
    </select>

    <select id="countComMemberByUserId" resultType="int">
        SELECT COUNT(1)
        FROM ComMember
        WHERE UserID = #{userId}
    </select>

    <insert id="insertComMember">
        INSERT INTO ComMember (
            UserID,
            UserPW,
            UserName,
            UseYn,
            InsertUserID,
            InsertDate
        ) VALUES (
            #{userId},
            #{password},
            #{userName},
            #{useYn},
            #{insertUserId},
            GETDATE()
        )
    </insert>

    <update id="updateComMember">
        UPDATE ComMember
        SET UserName = #{userName},
            UseYn = #{useYn},
            UpdateUserID = #{updateUserId},
            UpdateDate = GETDATE()
        <if test="password != null and password != ''">
            , UserPW = #{password}
        </if>
        WHERE UserID = #{userId}
    </update>

    <delete id="deleteComMember">
        DELETE FROM ComMember
        WHERE UserID = #{userId}
    </delete>

</mapper>
