<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tklaundry.api.common.mapper.ComProductMapper">

    <select id="selectComProductList" resultType="com.tklaundry.api.common.model.ComProduct">
        SELECT
            ProductCode AS productCode,
            ProcessCode AS processCode,
            GroupCode   AS groupCode,
            ProductName AS productName,
            Price       AS price
        FROM ComProduct
        WHERE ProcessCode = #{processCode}
          AND GroupCode = #{groupCode}
        ORDER BY ProductCode
    </select>

</mapper>
